{% extends 'base.html' %}
{% block tabla %}
<thead class="thead-light">
  <tr>
    <th scope="col">Fecha</th>
    <th scope="col">ETO Estimada</th>
    <th scope="col">Cantidad agua (mm3)</th>
  </tr>
</thead>
<tbody>
  {% for row in list_etapa %}
  <tr>
    <th scope="row">
      <div class="media-body">
        <img  class="avatar"  
          src="https://www.kindpng.com/picc/m/6-67193_calendario-fechas-horario-fecha-plan-diario-icono-blue.png">
        <span class="mb-0 text-sm">{{row[0]}}</span>
    </div>
    </th>
    <td>
      {{row[1]}}
    </td>
  </tr>
  {% endfor %}

</tbody>
{% endblock %}