{% extends 'base.html' %}
{% block tabla %}
  <thead class="thead-light">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Temperatura °C</th>
        <th scope="col">Humedad Relativa</th>
        <th scope="col">Velocidad Viento</th>
        <th scope="col">Radiación</th>
        <th scope="col">Precipitación</th>
        <th scope="col">ETO</th>
        <th scope="col">Nombre Estación</th>
      </tr>
  </thead>
  <tbody>
    {% for row in list_etapa %}
    <tr>
      <th scope="row">
          <div class="media-body">
            <img  class="avatar"  
              src="https://www.kindpng.com/picc/m/6-67193_calendario-fechas-horario-fecha-plan-diario-icono-blue.png">
            <span class="mb-0 text-sm">{{row[1]}}</span>
        </div>
      </th>
      <td>
        {{row[2]}}
      </td>
      <td>
        {{row[3]}}
      </td>
      <td>
        {{row[4]}}
      </td>
      <td>
        {{row[5]}}
      </td>
      <td>
        {{row[6]}}
      </td>
      <td>
        {{row[7]}}
      </td>
      <td>
        {{row[8]}}
      </td>
    </tr>
    {% endfor %}
  
  </tbody>
  <tfoot thead class="thead-light">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Temperatura °C</th>
        <th scope="col">Humedad Relativa</th>
        <th scope="col">Velocidad Viento</th>
        <th scope="col">Radiación</th>
        <th scope="col">Precipitación</th>
        <th scope="col">ETO</th>
        <th scope="col">Nombre Estación</th>
      </tr>
  </tfoot>

{% endblock %}