{% extends 'base.html' %}


        {% block tabla %}
    

                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Temperaturas (°C)</th>
                        </tr>
¿ 
                    </thead>
                    <tbody>
                        {% for row in list_etapa %}
                        <tr>
                            <th scope="row ">{{row[0]}}</th>
                            <td>{{row[1]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
             
        {% endblock %}
   
